@page "/articles"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject IArticleApplicationService ArticleApi


<PageTitle>Articles</PageTitle>

<h1>Articles</h1>

<p></p>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th aria-label="Name">Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in articles)
            {
                <tr>
                    <td>@article.Name</td>
                    <td>@article.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private EntityDto[]? articles;

    protected override async Task OnInitializedAsync()
    {
        var enumerable = await ArticleApi.GetArticlesAsync();
        articles = enumerable.ToArray();
    }
}

