@using Fargo.Api
@using Fargo.Api.Authentication
@using Fargo.Sdk.Contracts
@using Fargo.Web.Components.Shared
@inherits LayoutComponentBase

<SessionBootstrapper />

<div class="login-layout-shell">
    @Body
</div>
